<div class="body" #body>
    <main [@routeAnimations]="getRouteAnimationData()" [@changeBook]="book"  (@changeBook.done)="changeBook($event)">
        <div class="cover" #cover (click)="toggleBook(cover)">
            <div class="back"><!-- testback--></div>
            <div class="front">
                <h1 [innerHTML]="'app.title' | translate"></h1>
                <h2>Nolwenn WEBER-MARQUISET</h2>
            </div>
        </div>
        <nav>
            <div class="navigation" (click)="toggleBook(cover, true)">
                <a routerLink="/home" routerLinkActive="active">{{"app.nav.homelink" | translate}}</a>
                <a routerLink="/jeux/selection" routerLinkActive="active">{{"app.nav.gamelink" | translate}}</a> 
                <a routerLink="/truc" routerLinkActive="active">404</a>
            </div>
            <div class="language">
                <app-language-modal (bookEvent)="setBook($event)"></app-language-modal>
            </div>
            <!-- TODO régler une taille fixe pour chaque lien -->
        </nav>
        <router-outlet></router-outlet>
    </main>
</div>