<div class="body" #body>
    <div class="frame">
        <app-language-modal (bookEvent)="setBook($event)"></app-language-modal>
        <main 
            [@routeAnimations]="getRouteAnimationData()" 
            [@changeBook]="book"  
            (@changeBook.done)="changeBook($event)">
            <div class="cover" #cover (click)="toggleBook()">
                <div class="back"></div>
                <div class="front">
                    <h1 [innerHTML]="'app.title' | translate"></h1>
                    <h2><span class="copyright">copyright &copy; 2023-{{year}}</span><br> Nolwenn WEBER-MARQUISET</h2>
                </div>
            </div>
            <nav>
                <div class="navigation" (click)="toggleBook(true)">
                    <a routerLink="/summary" routerLinkActive="active" class="burger">☰</a>
                    <a routerLink="/home" routerLinkActive="active" [innerHTML]="'app.nav.homeLink' | translate"></a>
                    <a routerLink="/skills" routerLinkActive="active" [innerHTML]="'app.nav.skillsLink' | translate"></a>
                    <a routerLink="/associations" routerLinkActive="active" [innerHTML]="'app.nav.associationsLink' | translate"></a>
                    <a routerLink="/jeux/selection" routerLinkActive="active" [innerHTML]="'app.nav.gameLink' | translate"></a> 
                </div>
                <!-- TODO régler une taille fixe pour chaque lien -->
            </nav>
            <router-outlet></router-outlet>
        </main>
    </div>
</div>