<div class="page">
    <h2 [innerHTML]="'associationsPage.title' | translate"></h2>
    <p>
        <span [innerHTML]="'associationsPage.p1' | translate"></span>
    </p>
    <div class="jp">
        <h3 [innerHTML]="'associationsPage.t2' | translate"></h3>
        <p>
            <img src="/assets/logos/assojp.png" alt="logo Japon et Culture" decoding="async" loading="lazy" class="img-p">
            <span [innerHTML]="'associationsPage.p2' | translate"></span>
        </p>
    </div>
    <div class="jdr">
        <h3 [innerHTML]="'associationsPage.t3' | translate"></h3>
        <p>
            <img src="/assets/logos/assojdr.png" alt="logo Irrécupérable du jeu de rôle" decoding="async" loading="lazy" class="img-p">
            <span [innerHTML]="'associationsPage.p3' | translate"></span>
        </p>
    </div>
</div>
