@import "/src/app/assets/scss/mixin";

$rotation: rotate-circle 60s linear infinite;
$skills: 10;

:host{
    @include page();
    .page
    {
        max-height: 100%;
        max-width: 100%;
        display: grid;
        grid-template-rows: auto 1fr;
        grid-template-columns: 100%;
        .animation-container
        {
            width: 100%;
            position: relative;
            caret-color: transparent;
            .cercle
            {
                width: 100%;
                height: 100%;
                aspect-ratio: 1/1;
                border-radius: 50%;
                // border: 1px solid black;
                display: flex;
                justify-content: center;
                align-items: center;
                animation: $rotation;
                .logo
                {
                    // width: fit-content;
                    width: 12%;
                    position: absolute;
                    // top: 50%;
                    // left: 50%;
                    img
                    {
                        width: 100%;
                        animation: $rotation reverse;
                        filter: sepia(1);
                        transition: filter .3s, scale .3s;
                        &:hover, &.active
                        {
                            filter: sepia(0);
                            cursor: pointer;
                            scale: 1.3;
                        }
                    }
                    $angle : calc(360/$skills);
                    $rot : 0;
                    @for $i from 1 through $skills
                    {
                        &:nth-of-type(#{$i})
                        {
                            transform: rotate($rot * 1deg) translate(350%) rotate($rot * -1deg);
                        }
                        $rot: $rot + $angle;
                    } 
                }
            }
            .detail
            {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                text-align: justify;
                // permet de toucher un élément d'un innerHTML
                ::ng-deep
                {
                    h3
                    {
                        text-align: center;
                    }
                }
                
                .detailEnter, .detailLeave
                {
                    // transition: opacity .5s;
                }
                .detailEnter
                {
                    opacity: 0;
                    position: absolute;
                }
                .detailLeave
                {
                    opacity: 1;
                }
            }
        }
    }
}
@keyframes rotate-circle {
    0%
    {
        transform: rotate(0);
    }
    100%
    {
        transform: rotate(360deg);
    }
}