<div class="page">
    <div class="presentation">
        <h2 [innerHTML]="'skillsPage.title' | translate"></h2>
        <p><span [innerHTML]="'skillsPage.p1' | translate"></span></p>
        <p><span [innerHTML]="'skillsPage.p2' | translate"></span></p>
    </div>
    <div class="animation-container">
        <div class="cercle">
            <div class="logo"><img src="/assets/logos/icon-html-5.svg" alt=""></div>
            <div class="logo"><img src="/assets/logos/icon-css3.svg" alt=""></div>
            <div class="logo"><img src="/assets/logos/icon-javascript.svg" alt=""></div>
            <div class="logo"><img src="/assets/logos/icon-jquery.svg" alt=""></div>
            <div class="logo"><img src="/assets/logos/icon-typescript.svg" alt=""></div>
            <div class="logo"><img src="/assets/logos/icon-angular.svg" alt=""></div>
            <div class="logo"><img src="/assets/logos/icon-mysql.svg" alt=""></div>
            <div class="logo"><img src="/assets/logos/icon-php.svg" alt=""></div>
            <div class="logo"><img src="/assets/logos/icon-symfony.svg" alt=""></div>
        </div>
        <div class="detail">
            <h3>Typescript</h3>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates aliquam laborum eaque asperiores dignissimos ipsa ut accusamus repellendus! Nobis, nam distinctio! Cum possimus quas qui ex tempore libero! Et, excepturi!
        </div>
    </div>
</div>
