<div class="page">
    <div class="presentation">
        <h2 [innerHTML]="'skillsPage.title' | translate"></h2>
        <p><span [innerHTML]="'skillsPage.p1' | translate"></span></p>
        <p><span [innerHTML]="'skillsPage.p2' | translate"></span></p>
    </div>
    <div class="animation-container">
        <div class="cercle" #skills (click)="selectSkill($event, skills)">
            <div class="logo"><img data-skill="html" src="/assets/logos/icon-html-5.svg" alt="logo HTML 5" draggable="false"></div>
            <div class="logo"><img data-skill="css" src="/assets/logos/icon-css3.svg" alt="logo CSS 3" draggable="false"></div>
            <div class="logo"><img data-skill="sass" src="/assets/logos/icon-sass.svg" alt="logo SASS" draggable="false"></div>
            <div class="logo"><img data-skill="js" src="/assets/logos/icon-javascript.svg" alt="logo Javascript" draggable="false"></div>
            <div class="logo"><img data-skill="jquery" src="/assets/logos/icon-jquery.svg" alt="logo JQuery" draggable="false"></div>
            <div class="logo"><img data-skill="ts" src="/assets/logos/icon-typescript.svg" alt="logo Typescript" draggable="false"></div>
            <div class="logo"><img data-skill="angular" src="/assets/logos/icon-angular.svg" alt="logo Angular" draggable="false"></div>
            <div class="logo"><img data-skill="mysql" src="/assets/logos/icon-mysql.svg" alt="logo MySQL" draggable="false"></div>
            <div class="logo"><img data-skill="php" src="/assets/logos/icon-php.svg" alt="logo PHP" draggable="false"></div>
            <div class="logo"><img data-skill="symfony" src="/assets/logos/icon-symfony.svg" alt="logo Symfony" draggable="false"></div>
        </div>
        <div class="detailEnter">
            <div class="detailLeft">
                <div class="detailRight">
                    <div class="detail" #detailEnter></div>
                </div>
            </div>
        </div>
        <div class="detailLeave">
            <div class="detailLeft">
                <div class="detailRight">
                    <div class="detail" #detailLeave [innerHTML]="'skillsPage.skills.default' | translate"></div>
                </div>
            </div>
        </div>
    </div>
</div>
