<div class="page">
    <p>
        Veuillez choisir la page qui vous intéresse :
    </p>
    <!-- TODO : Faire un bouton retour avec historique -->
    <ol>
        <li>
            <a routerLink="/home" routerLinkActive="active" [innerHTML]="'app.nav.homeLink' | translate"></a>
        </li>
        <li>
            <a routerLink="/skills" routerLinkActive="active" [innerHTML]="'app.nav.skillsLink' | translate"></a>
        </li>
        <li>
            <a routerLink="/associations" routerLinkActive="active" [innerHTML]="'app.nav.associationsLink' | translate"></a>
        </li>
        <li>
            <a routerLink="/jeux/selection" routerLinkActive="active" [innerHTML]="'app.nav.gameLink' | translate"></a> 
        </li>
    </ol>
</div>