/* You can add global styles to this file, and also import other style files */
*, ::before, ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    background-color: antiquewhite;
}
@media (prefers-color-scheme: dark) 
{
    body
    {
        background-color: darkslategray;
    }
}
// TODO : Un jour peut être le livre en sens de  lecture japonais.
// .jp-JP{
//     transform: scaleX(-1);}
.jp-JP .translate
{
    width: 100%;
    text-align: end;
    writing-mode: vertical-rl;
    .vertical
    {
        text-orientation: upright;
    }
}