/* You can add global styles to this file, and also import other style files */
*, ::before, ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    background-color: antiquewhite;
    overflow: hidden;
    .page
    {
        overflow-x: hidden;
        overflow-y: auto;
        max-height: 100%;
        padding: 0 10px 0 5px;
        &, .translate
        {
            scrollbar-gutter: stable;
            // scrollbar design firefox
            scrollbar-width: thin;
            scrollbar-color: #e0c9a6aa var(--cover);
        }
        // scrollbar design chromium
        &::-webkit-scrollbar
        {
            width: 8px;
            height: 100%;
            background-color: var(--cover);
        }
        &::-webkit-scrollbar-thumb
        {
            background-color: #e0c9a6aa;
        }
        h2,h3
        {
            text-decoration: underline;
            margin-bottom: 5px;
        }
        .img-p
        {
            filter: sepia(100%);
            shape-outside: margin-box;
        }
    }
    
}
@media (prefers-color-scheme: dark) 
{
    body
    {
        background-color: darkslategray;
    }
}
// TODO : Un jour peut être le livre en sens de  lecture japonais.
// .jp-JP{
//     transform: scaleX(-1);}
.body.jp-JP 
{
    .page
    {
        display: grid;
        grid-template-rows: auto 1fr;
    }
    .translate
    {   
        // height: 50%;
        width: 100%;
        // text-align: end;
        writing-mode: vertical-rl;
        font-size: 1.2em;
        overflow-x: auto;
        overflow-y: hidden;
        rt
        {
            font-size: .7em;
        }
        .vertical
        {
            text-orientation: upright;
        }
    }
}
.body:not(.jp-JP) p
{
    text-align: justify;
    line-height: 1.3;
    &::first-letter
    {
        font-size: 2.6em;
        font-weight: bold;
        float: left;
        padding: 6px 0;
    }
}